<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cs.zhishu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".base.ZhiShu"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.SplashActivity"
            android:theme="@style/AppTheme.LaunchStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 关于知书 -->
        <activity
            android:name=".ui.activity.AboutAPPActivity"
            android:screenOrientation="portrait" />
        <!-- 更多选项 -->
        <activity
            android:name=".ui.activity.MoreActivity"
            android:screenOrientation="portrait" />
        <!-- 个人简介 -->
        <activity
            android:name=".ui.activity.Othell0InfoActivity"
            android:screenOrientation="portrait" />

        <!-- 图灵机器人 -->
        <activity
            android:name=".ui.activity.TRClientActivity"
            android:screenOrientation="portrait" />
        <!--主界面-->
        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!--主题日报详情界面-->
        <activity
            android:name=".ui.activity.ThemesDailyDetailsActivity"
            android:screenOrientation="portrait" />

        <!--日报评论界面-->
        <activity
            android:name=".ui.activity.DailyCommentActivity"
            android:screenOrientation="portrait" />

        <!--专栏详情界面-->
        <activity
            android:name=".ui.activity.SectionsDetailsActivity"
            android:screenOrientation="portrait" />
        <!--日报内容详情界面-->
        <activity
            android:name=".ui.activity.DailyDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TransparentStatusBar" />

        <!--日报推荐者查看界面-->
        <activity
            android:name=".ui.activity.DailyRecommendEditorsActivity"
            android:screenOrientation="portrait" />


    </application>

</manifest>